In [2]:
# Analysis of TCGA dataset 
# Data taken from patient samples of tumor and normal cells
## The cancer type under investigation is clear cell renal carcinoma (kidney cancer)

In [34]:
import pandas as pd
import os
import numpy as np
print("Current working directory" , os.getcwd()) # print out current working directory

Current working directory c:\users\frank\desktop\python_springboard\datasets

In [5]:
os.chdir('c:/users/frank/desktop/python_springboard/datasets')

In [6]:
filename = 'HiSeqV2.csv' # assign dataset to filename object
data = pd.read_csv(filename, sep = ',') # read in csv file as pandas dataframe

In [7]:
data.head() # print head to verify proper formatting

,sample,TCGA-BP-4162-01,TCGA-CJ-5677-11,TCGA-DV-5566-01,TCGA-BP-5191-01,TCGA-BP-5200-01,TCGA-BP-4347-01,TCGA-BP-4770-01,TCGA-B0-5696-11,TCGA-BP-4762-01,...,TCGA-B0-5104-01,TCGA-A3-3313-01,TCGA-B2-5633-01,TCGA-CJ-4872-01,TCGA-CJ-5684-01,TCGA-CJ-4886-01,TCGA-BP-5009-01,TCGA-BP-4969-01,TCGA-CZ-5461-01,TCGA-CW-5587-01
0,ARHGEF10L,10.5030,10.8969,10.7612,10.2063,10.0616,10.0193,8.4364,11.1427,9.9150,...,10.5586,9.5556,10.2652,9.4981,10.2751,9.9525,10.1273,10.8817,10.1949,10.3294
1,HIF3A,5.5283,6.4943,5.7842,5.0063,5.3326,7.6102,6.0422,5.9789,3.7802,...,6.2061,4.8253,5.1680,8.6195,6.2080,6.3116,6.7446,7.8293,6.1788,6.2293
2,RNF17,3.8036,0.0000,0.0000,0.0000,0.0000,0.3386,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.6128,0.0000
3,RNF10,11.4379,12.2130,11.5478,12.3439,11.5149,11.4065,12.1963,12.3946,11.3734,...,11.7338,11.7709,11.4968,11.9561,11.7518,11.5698,12.1565,11.3048,11.5168,11.3489
4,RNF11,11.4180,11.8248,11.3190,10.3413,11.2923,10.9971,11.8936,11.7217,12.2329,...,11.7629,10.2373,11.4637,11.4391,11.3992,11.4937,11.4015,10.8842,11.6230,11.5469

In [28]:
df1 = data.filter(regex = 'sample|11$', axis =1)
# Creating new dataframe with only columns containing expression values for normal cells

In [29]:
df1.head()

,sample,TCGA-CJ-5677-11,TCGA-B0-5696-11,TCGA-CJ-5679-11,TCGA-CZ-5452-11,TCGA-B0-5712-11,TCGA-CW-5584-11,TCGA-B0-5701-11,TCGA-CZ-5461-11,TCGA-B0-5690-11,...,TCGA-CW-5580-11,TCGA-B8-5552-11,TCGA-CZ-4865-11,TCGA-CZ-4863-11,TCGA-B2-5636-11,TCGA-CW-6088-11,TCGA-CZ-5982-11,TCGA-CZ-5469-11,TCGA-CJ-5678-11,TCGA-CZ-5451-11
0,ARHGEF10L,10.8969,11.1427,10.3362,10.9979,10.6467,10.6163,10.6772,10.5352,10.9610,...,10.8603,9.4288,10.3868,10.2874,10.9476,10.8848,10.7783,10.3262,10.4025,10.9598
1,HIF3A,6.4943,5.9789,6.0228,7.8769,8.5452,5.1819,8.6367,4.9484,7.1702,...,8.3424,5.5908,7.9224,7.5603,6.4780,8.5598,6.5021,6.9556,5.5893,6.8364
2,RNF17,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.5994,2.2604,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.4795
3,RNF10,12.2130,12.3946,12.3002,12.4976,12.1206,12.1293,12.1640,12.2868,12.2738,...,12.4214,11.3729,11.9933,11.9568,12.1550,12.4600,12.0911,12.3941,12.0396,12.2514
4,RNF11,11.8248,11.7217,12.0602,11.6335,11.8102,11.6994,11.5128,11.9681,11.5019,...,11.6284,12.6320,11.9769,11.9774,11.6255,11.4753,11.9079,11.7476,11.9066,11.7847

In [30]:
df2 = data.filter(regex = 'sample|01|05$', axis = 1)
# Creating new dataframe with only columns containing expression values for cancer cells

In [31]:
df2.head()

,sample,TCGA-BP-4162-01,TCGA-DV-5566-01,TCGA-BP-5191-01,TCGA-BP-5200-01,TCGA-BP-4347-01,TCGA-BP-4770-01,TCGA-BP-4762-01,TCGA-BP-4158-01,TCGA-CJ-4887-01,...,TCGA-B0-5104-01,TCGA-A3-3313-01,TCGA-B2-5633-01,TCGA-CJ-4872-01,TCGA-CJ-5684-01,TCGA-CJ-4886-01,TCGA-BP-5009-01,TCGA-BP-4969-01,TCGA-CZ-5461-01,TCGA-CW-5587-01
0,ARHGEF10L,10.5030,10.7612,10.2063,10.0616,10.0193,8.4364,9.9150,10.7621,10.5819,...,10.5586,9.5556,10.2652,9.4981,10.2751,9.9525,10.1273,10.8817,10.1949,10.3294
1,HIF3A,5.5283,5.7842,5.0063,5.3326,7.6102,6.0422,3.7802,7.2039,6.1342,...,6.2061,4.8253,5.1680,8.6195,6.2080,6.3116,6.7446,7.8293,6.1788,6.2293
2,RNF17,3.8036,0.0000,0.0000,0.0000,0.3386,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.6128,0.0000
3,RNF10,11.4379,11.5478,12.3439,11.5149,11.4065,12.1963,11.3734,11.3251,11.7681,...,11.7338,11.7709,11.4968,11.9561,11.7518,11.5698,12.1565,11.3048,11.5168,11.3489
4,RNF11,11.4180,11.3190,10.3413,11.2923,10.9971,11.8936,12.2329,11.2993,10.8723,...,11.7629,10.2373,11.4637,11.4391,11.3992,11.4937,11.4015,10.8842,11.6230,11.5469

In [42]:
# while pandas dataframes are generally compatible with most data analysis operations, numpy arrays are the 
# preferential format for some machine learning operations. This code transforms df1 (pandas dataframe with 
# normal cell expression values) into a numpy array. The array is expressed as tuples with the gene name as the key.
data_array1 = df1.values

In [43]:
data_array1

array([['ARHGEF10L', 10.8969, 11.1427, ..., 10.3262, 10.4025, 10.9598],
       ['HIF3A', 6.4943, 5.9789, ..., 6.9556, 5.5893, 6.8364],
       ['RNF17', 0.0, 0.0, ..., 0.0, 0.0, 1.4795],
       ...,
       ['GSTK1', 11.6819, 11.8056, ..., 11.5879, 11.505, 11.9865],
       ['SELP', 7.9269, 8.4468, ..., 9.6062, 9.5782, 8.4154],
       ['SELS', 9.6189, 9.2858, ..., 9.6687, 9.673, 9.5737]], dtype=object)

In [44]:
# this code transforms df2 (pandas dataframe with cancer cell expression values) into a numpy array (as above).
data_array2 = df2.values

In [45]:
data_array2

array([['ARHGEF10L', 10.503, 10.7612, ..., 10.8817, 10.1949, 10.3294],
       ['HIF3A', 5.5283, 5.7842, ..., 7.8293, 6.1788, 6.2293],
       ['RNF17', 3.8036, 0.0, ..., 0.0, 0.6128, 0.0],
       ...,
       ['GSTK1', 11.6227, 11.8431, ..., 12.6813, 11.5499, 11.7339],
       ['SELP', 7.0732, 6.5214, ..., 7.1322, 8.1205, 7.3263],
       ['SELS', 9.6363, 9.8619, ..., 9.8824, 9.6616, 9.3725]],
      dtype=object)

In [46]:
# because the original dataset is log2 transformed and normalized, there is a reduced need to preprocess the data.
# outlier patient samples (columns) will be addressed later.